<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>
<body>
  <div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
      <div class="tp">
      <nav>
          <a class="thumb-pr mn" href="/bookings/create">Create a booking</a>
          <a class="thumb-pr r-e" href="/bookings/view">View all bookings</a>
          <a class="thumb-pr mn" href="/bookings/update">Modify a booking</a> 
          <a class="thumb-pr r-e" href="/bookings/find">Search for a Booking Report</a> 
          <a class="thumb-pr mn" href="/workshops">Scheduled workshops</a> 
          <a class="thumb-pr r-e" href="/about">~Our Story Here~</a> 
          <a class="thumb-pr mn" href="/help">Need some help?</a> 
      </nav>
  </div>
</div>
    <h2>Name: <b> <%= bookings[0].name %></h2></b>
    <table>
      <thead>
        <tr>
          <th>Workshop</th>
          <th>Time</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < bookings.length; i++) { %>
          <tr>
            <td><%= bookings[i].workshop %></td>
            <td><%= bookings[i].time %></td>
            <td><%= bookings[i].date %></td>
            <td>
              <% if (new Date(bookings[i].date) >= new Date()) { %>
                Upcoming
              <% } else { %>
                Past
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>